<div class="panel">
  <h3>TODOs List</h3>
  <ol class="todo-list">
    <li *ngFor="let todo of todos">
      <div class="todo-item">
        <strong class="title">
            {{todo.title}}
        </strong>
        <div class="desc">{{todo.description}}</div>
        <button>Edit</button>
        <button (click)="remove(todo.id)">Remove</button>
      </div>
    </li>
  </ol>
  <div>
    <div>
        Title: <input [(ngModel)]="title" />
    </div>
    <div>
        Description: <input [(ngModel)]="desc" />
    </div>
    <button (click)="add()">Add</button>
  </div>
</div>
