<div class="panel">
  <h3>TODOs List</h3>
  <ol class="todo-list">
    <li *ngFor="let todo of todos">
      <div class="todo-item">
        <strong class="title">
            {{todo.item.title}}
        </strong>
        <div class="desc">{{todo.item.description}}</div>
        <button (click)="edit(todo)">Edit</button>
        <button (click)="remove(todo)">Remove</button>
      </div>
      <edit-todo *ngIf="todo.underEdit"
          [todo]="todo.item"
          (updated)="update(todo, $event)"
          (cancelled)="cancelEdit(todo)">
      </edit-todo>
    </li>
  </ol>
  <div>
    <div>
        Title: <input [(ngModel)]="title" />
    </div>
    <div>
        Description: <input [(ngModel)]="desc" />
    </div>
    <button (click)="add()">Add</button>
  </div>
</div>
